header, footer {
	background-color: #9d7142;
	color: #fff;
	padding: 5px;
	padding-top: 8px;
	text-shadow: 2px 1px #444;
	box-shadow: 2px 1px 4px #444;
}

body {
	background-color: #efe6ce;
}
	
nav {
	background-color: #9d7142;
	box-shadow: 2px 1px 4px #444;
}
		
nav .btn{
	background-color: #ad7d4a;
	color: #fff;	
	text-shadow: 1px 1px #444;
	box-shadow: 3px 2px 4px #444;	
	margin-left: 1%;			
}

nav .btn:hover {
	background-color: #5c3d23;
	color: #fef9ff;
	text-shadow: 1px 1px #444;
}

nav a:visited {
	color: #fff;
}

.jumbotron {
	background-image: url("img/bridge.jpg");
	background-size: cover;
	box-shadow: 2px 1px 4px #444;
	max-height: 10%;
}

header h1 {
	font-family: 'Tangerine', sans-serif;
	color: #fff;
	font-size: 5em;
	padding-top: 8px;
	text-shadow: 8px 4px 6px #444;
	margin-bottom: -3%;
}

header p {
	color: #fff;
	font-family: 'Tangerine', sans-serif;
	font-size: 2.6em;
	text-shadow: 8px 4px 6px #444; 
}

#jumbotron p {
	padding-top: 5%;
	margin-top: -7%;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 99%;
	padding-top:1%
}

*:not(.footer footer) {
	box-sizing : border-box;
}

#topMenu {
	box-shadow: 2px 1px 4px #444;
}

#bottomMenu {
	box-shadow: 2px 1px 4px #444;
}

#beverages {
	box-shadow: 2px 1px 4px #444;
}

#cContainer {
	margin-bottom: 10%;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 2px 1px 4px #444;
}

nav {
	background-color: #9d7142;
	box-shadow: 2px 1px 4px #444;
}

nav a:visited {
	color: #dfb97c;
}

.btn.badge-pill {
	color: #fff;
	background-color: #ad7d4a;
	margin-left: 5px;
	box-shadow: 2px 1px 4px #444;
}
.btn.badge-pill:hover {
	color: #dfad50;
	background-color: #5c3d23;
	margin-left: 5px;
}

.form-check-input {
	margin-left: 5px;
	margin-right: 5px;
}

div.form-check {
	margin: 0 auto;
}